# Production Secrets (CHANGE THESE!)
APP_SECRET=ChangeMeToAreallyLongRandomString
JWT_PASSPHRASE=ChangeMeToAnotherLongRandomString

# Database Credentials
# COMPOSE_PROFILES=mysql
# DB_CONNECTION=mysql
# MARIADB_DB=ari_db
# MARIADB_USER=ari_user
# MARIADB_PASSWORD=ChangeMeDatabasePassword
# MARIADB_ROOT_PASSWORD=ChangeMeRootPassword

# App Port
APP_PORT=8080
