includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 8
    paths:
        - src/
        - tests/
        - plugins/
    excludePaths:
        analyseAndScan:
            - plugins/*/ui/node_modules/*
    symfony:
        containerXmlPath: var/cache/dev/Ari_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    treatPhpDocTypesAsCertain: false
