{% extends 'base.html.twig' %}

{% block title %}Edit ContactDate{% endblock %}

{% block body %}
    <h1>Edit ContactDate</h1>

    {{ include('contact_date/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contact_date_index') }}">back to list</a>

    {{ include('contact_date/_delete_form.html.twig') }}
{% endblock %}
