{% extends 'base.html.twig' %}

{% block title %}Edit ContactName{% endblock %}

{% block body %}
    <h1>Edit ContactName</h1>

    {{ include('contact_name/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contact_name_index') }}">back to list</a>

    {{ include('contact_name/_delete_form.html.twig') }}
{% endblock %}
