{% extends 'base.html.twig' %}

{% block title %}New ContactName{% endblock %}

{% block body %}
    <h1>Create new ContactName</h1>

    {{ include('contact_name/_form.html.twig') }}

    <a href="{{ path('app_contact_name_index') }}">back to list</a>
{% endblock %}
